body {
    background-color: rgb(29, 29, 29);
    color: white;
}

main {
    position: relative;
    top: 100px;
}

.flex-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}